# IDE
.idea/
.vscode/

# Python
__pycache__/
*.pyc
*.pyo

# 数据集（torchvision 自动下载）
data/
pay/
log/
fdsnet-main/


# 训练产物
*.model
*.log
*.pth
*.pt
*.csv
*.json
log.txt
log2.txt
tra.py
log[1-9].txt

# OS
.DS_Store
Thumbs.db

